{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block menu %}{% endblock %}

{% block body %}
<div class="main">
<div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 login-info" >
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<section class="background-radial-gradient overflow-hidden">

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          DIOT SIACI<br />
          <span style="color: hsl(218, 81%, 75%)">vidéothèque</span>
        </h1>
       
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
             <div class="form-outline mb-4">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-person-circle"></i>
                  </span>
                </div>
              </div>

                <div class="form-outline mb-4">
               
                <input type="email" value="{{ last_username }}" name="email" id="form3Example3" class="form-control" autocomplete="email" required autofocus>
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <div class="form-outline mb-4">
                 <input type="password" name="password" id="form3Example4" class="form-control" autocomplete="current-password" required>
                <label class="form-label" for="form3Example4">Password</label>
              </div>

            
              <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
            >
                 <div class="form-check d-flex justify-content-center mb-4">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="bi bi-facebook"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="bi bi-instagram"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="bi bi-twitter"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

