{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<div class="main-gr">
<div class='container'>
<div class="">
<div class="d-flex justify-content-between align-items-center mb-3">
  <a class="btn btn-primary" href="{{ path('app_movie_create') }}">Ajouter</a>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for movie in movies %}
  <div class="col">
    <div class="card h-100">
      <img class="card-img-top h-100" src="{{ asset('brochures/')}}{{movie.image}}" alt="{{ movie.title }}">
      <div class="card-body">
        <h3 class="card-title">{{ movie.title }}</h3>
        <a class="btn btn-outline-primary" href="{{ path('detail', { 'id': movie.id }) }}">
            <i class="bi bi-eye"></i>
        </a>


        <form action="{{ path('app_movie_delete', {'id': movie.id}) }}" method="post" class="d-inline">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>
</div>



{% endblock %}